<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 配置employee -->
	<bean id="employee" class="com.task08.user.Employee">
		<property name="id" value="1" />
		<property name="name" value="张三" />
		<property name="gender" value="男" />
		<property name="age" value="20" />
		<property name="phoneCall" value="1234567890" />
		<property name="address" value="北京市海淀区上地N街" />
	</bean>

</beans>